.app {
    position: relative;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
    flex: 2;
}